{% load static %}
<style>
  #actionbar {
    background: none;
    border: none;
    padding: 0px;
  }

  #actionbar .item {
    background: none;
    margin: 0;
  }

  #actionbar .item > img {
    width: 25px;
    height: 25px;
    padding-left: 25px; /* Equal to width of new image */
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #actionbar .back.item img {
    background-image: url({% static 'materials/icons8-left-100.png' %});
  }

  #actionbar .like.item[state='on'] img {
    background-image: url({% static 'materials/icons8-filled-heart-100.png' %});
  }

  #actionbar .like.item[state='off'] img {
    background-image: url({% static 'materials/icons8-heart-100.png' %});
  }

  #actionbar .bookmark.item[state='on'] img {
    background-image: url({% static 'materials/icons8-filled-bookmark-ribbon-100.png' %});
  }

  #actionbar .bookmark.item[state='off'] img {
    background-image: url({% static 'materials/icons8-bookmark-100.png' %});
  }

  #actionbar .comment.item img {
    background-image: url({% static 'materials/icons8-topic-100.png' %});
    width: 20px;
    height: 20px;
    padding-left: 20px;
  }

  #actionbar .share.item img {
    background-image: url({% static 'materials/icons8-upload-100.png' %});
  }

  #actionbar .edit.item img {
    background-image: url({% static 'materials/icons8-edit-100.png' %});
    width: 21px;
    height: 21px;
    padding-left: 21px;
  }

  #actionbar .delete.item img {
    background-image: url({% static 'materials/icons8-waste-100.png' %});
    width: 21px;
    height: 21px;
    padding-left: 21px;
  }
</style>

{% load ctags %}
<div id='actionbar' ch='{{ch.pk}}'>
  <div class="ui vertical center aligned segment">
    <div class="ui text container">
      <div class="ui icon secondary menu">

        {% if ch.on %}
        <a class="back item" href='{% url "channel" ch.on.pk %}'>
          <img>
        </a>
        {% else %}
        <div class="back item" onclick='window.history.back()'>
          <img>
        </div>
        {% endif %}

        <div class="like item" state='{% if user.is_authenticated and user|like:ch %}on{% else %}off{% endif %}' onclick='flag(this)'>
          <img>
        </div>

        <div class="comment item" href="#" onclick='poster("show", {{ch.pk}})'>
          <img>
        </div>

        <a class="share item" href="#">
          <img>
        </a>

        <div class="right menu">
          <div class="bookmark item" state='{% if user.is_authenticated and user|bookmark:ch %}on{% else %}off{% endif %}' onclick='flag(this)'>
            <img>
          </div>

          {% if user.is_superuser %}
          <div class="edit item" onclick='console.log(1234)'>
            <img>
          </div>

          <div class="delete item" onclick='confirm_delete({{ch.pk}})'>
            <img>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
