<style>
  #banner {
    background: none;
    padding: 0 !important;
    position: relative;
    border: none;
  }

  #banner-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
  }

  #banner-detector {
    position: absolute;
    top: 40vw;
    left: 50%;
  }

  #banner .ui.header {
    background:orange;
    position: absolute;
    top: 0%;
    left: 0%;
    /* transform: translate(-50%,-50%) */
  }
</style>


<div id="banner" class="ui center aligned vertical segment">
  <img id="banner-img" src="/static/materials/taw_lcm_day_4_kd_09.jpg">
  <div id="banner-detector"></div>
  <div class="ui header">
    <div class="content" style="color:black;font-size:12vw;font-family: 'Noto Sans KR', sans-serif;margin:0 !important;">
      GET.CH
      <div class="sub header" style="font-weight:bold;font-size:3vw;margin-top:4vw;">GET TREND by TAG, SHARE, VISIT</div>
    </div>
  </div>
</div>
