<style>
  .feed {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  .feed > table {
    width: 90vw !important;
    margin-top: 5vw !important;
    border-radius: 0 !important;
    border: 1px solid black !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .feed > table td:first-child {
    background: none !important;
    padding: 0 !important;
    width: 40px !important;
  }

  .feed > table td:first-child img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .feed > table td:last-child {
    padding: 0 !important;
    font-size: 12px !important;
    position: relative !important;
    background: none !important;
  }

  .feed > table td:last-child p {
    margin: 5px;
  }

  .feed .feed-text > span {
    background: white;
    color: black;
  }

  .feed .feed-created-at {
    position: absolute;
    top: 0;
    right: 0;
  }

  .feed .feed-image {
    width: 100%;
    height: auto;
    display: block;
  }
</style>


<div class="feed ui vertical center aligned segment">
  <table class='ui unstackable very compact basic table'>
    <tbody>
      <tr class='top aligned'>
        <td>
          <a href="{% url 'profile' feed.author.pk %}">
            <img src="{{ feed.author.user.socialaccount_set.all.0.get_avatar_url }}"/>
          </a>
        </td>

        <td>
          <p>{{ feed.author.user.email }}</p>
          <p class='feed-text'>
            <span>
              {{ feed.text }}
            </span>
          </p>
          <p class='feed-created-at'>
            {{ feed.created_at|date:"Y-m-d"}}
          </p>

          <img class='feed-image' src="{{ feed.image.url }}" onerror="console.log(this.style);"/>
        </td>
      </tr>
    </tbody>
  </table>
</div>
