<style>
  #topheader, #topbanner {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #topheader {
    background: white;
    z-index: 100;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    box-shadow: none;
    /* border-bottom: 1px solid black; */
    height: 70px;
  }

  #topheader.hidden {
    display: none;
  }

  #topbanner {
    background: none;
    z-index: 1;
    border: none
  }

  #topheader .item,
  #topbanner .item {
    background: none;
  }

  #topheader .item:hover,
  #topbanner .item:hover {
    opacity: 0.5;
  }

  #topheader .logo.item .content {
    font-size: 40px;
  }
</style>

{% if type == "top_only" %}
<div id="topheader" class="ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" %}
</div>


{% elif type == "with_banner" %}
<div id="topheader" class="hidden ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" %}
</div>

<div id="topbanner" class="ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" with banner="true" %}
</div>

{% include "getchapp/banner.html" %}
{% endif %}

{% include "getchapp/signin.html" %}
