<style>
  :root {
    --logo-fontsize: 7vw;
    --sublogo-fontsize: 2vw;
  }

  #header-menu .logo.item {
    background: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  #header-menu .logo.item .header .content {
    color: black;
    font-size: var(--logo-fontsize);
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
  }

  #header-menu .logo.item .sub.header {
    font-weight: bold;
    font-size: var(--sublogo-fontsize);
    margin-top: calc(var(--sublogo-fontsize) / 2);
    margin-left: calc(var(--sublogo-fontsize) / 4);
  }

  #header-menu .right.menu .item {
    padding: 8px !important;
    margin: 2px;
    background: none;
  }

  #header-menu .right.menu .item img {
    width: 25px !important;
    height: 25px !important;
  }

  #header-menu .logodot {
    display: inline-block;
    width: calc(var(--logo-fontsize) / 5);
    transform: scale(0.25, 0.5) translate(calc(-1 * var(--logo-fontsize) / 4), calc(var(--logo-fontsize) / 4));
    transform-origin: bottom left;
    color: rgb(22, 187, 204);
  }
</style>


<div id='header-menu' class="ui container">
  <div class="ui icon secondary {% if banner %} inverted {% endif %} menu">

    {% if not banner %}
    <a class="logo item" href="{% url 'intro' %}">
      <h2 class="ui header" >
        <div class="content">
          GET<div class="logodot">■</div>CH
          <div class="sub header">GET TREND by TAG, SHARE, VISIT</div>
        </div>
      </h2>
    </a>
    {% endif %}

    <div class="right menu">
      <a class="search item" href="#">
        <img src="/static/materials/icons8-search-100.png">
      </a>
      <div class="posting item" onclick='poster("show")'>
        <img src="/static/materials/icons8-plus-100.png">
      </div>

      {% if user.is_authenticated %}
      <a class="my signed item" href="{% url 'my' %}">
        <img src="/static/materials/icons8-user-100.png">
      </a>

      {% else %}
      <a class="my signin item">
        <img src="/static/materials/icons8-user-100.png">
      </a>
      {% endif %}

    </div>
  </div>
</div>
