<style>
  :root {
    --theme-color: rgb(247,94,10);
    /* rgb(237,149,119); */
  }

  #topheader, #topbanner {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #topheader {
    background: white;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  #topheader.hidden {
    display: none;
  }

  #topbanner {
    background: none;
    z-index: 1;
    border: none
  }

  #topheader .item,
  #topbanner .item {
    background: none;
    /* padding: 0; */
  }

  #topheader .item:hover,
  #topbanner .item:hover {
    opacity: 0.5;
  }

  #topheader .logo.item .content {
    font-size: 40px;
    /* font-family: 'Roboto Mono', monospace; */
  }

  #signin {
    background: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
  }

  #signin > .container {
    background: none;
    position: relative;
  }

  #signin .signin-modal {
    transform: scale(0);
    visibility: collapse;
    background: white;
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.1s ease;
    transform-origin: top right;
  }

  #signin .signin-modal > .container {
    width: 160px;
    margin: 0 !important;
  }

  #signin .signin-modal > .container > h3.header {
    margin: 10px;
  }

  #signin .signin-modal .dismiss {
    margin-top: 10px;
  }

  #signin .signin-modal .dismiss:hover {
    opacity: 0.5;
  }

  #signin .signin-modal table {
    margin: 0;
    background: none;
    border: none;
  }

  #signin .signin-modal td {
    width: 80px;
    height: 80px;
    border: none;
  }

  #signin .signin-modal td .icon {
    color: black;
    background: none;
    margin: 0;
  }

  #signin .signin-modal td .brand.icon {
    font-size: 40px;
  }

  #signin .signin-modal td .more.icon {
    font-size: 30px;
  }

  #signin .signin-modal td:hover {
    cursor: pointer;
  }

  #signin .signin-modal td:hover .icon {
    color: var(--theme-color);
  }

  #signin .sigin-modal .divider {
    margin: 5px;
  }

  #signin .signin-checkbox {
    display: none;
    visibility: hidden;
  }

  #signin .signin-checkbox:checked ~ .signin-modal {
    visibility: visible;
    transform: scale(1);
  }
</style>

{% if type == "top_only" %}
<div id="topheader" class="ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" %}
</div>


{% elif type == "with_banner" %}
<div id="topheader" class="hidden ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" %}
</div>

<div id="topbanner" class="ui center aligned vertical segment">
  {% include "getchapp/header-menu.html" with banner="true" %}
</div>

<div id="banner" class="ui center aligned vertical segment" style="background:none;padding:0;position:relative;border:none;">
  <img src="/static/materials/taw_lcm_day_4_kd_09.jpg" style="width:100%;height:auto;max-height:60vh;object-fit:cover;object-position:top">
  <div class="detector" style="position:absolute;top:70px;left:50%;"></div>
  <h1 class="ui icon header" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)">
    <div class="content" style="font-size:120px;font-family: 'Noto Sans KR', sans-serif;">
      GET.CH
      <div class="sub header" style="font-size:25px;margin-top:50px;">GET TREND by TAG, SHARE, VISIT</div>
    </div>
  </h1>
</div>
{% endif %}


{% load socialaccount %}
<div id="signin" class="ui vertical segment">
  <div class="ui container">

    <input class="signin-checkbox" type="checkbox">

    <div class="signin-modal ui center aligned segment">
      <div class="ui container">
        <h3 class="ui icon header">
          Sign in with
        </h3>

        <div class="ui divider"></div>

        <table class="ui unstackable celled center aligned table">
          <tbody>
            <tr>
              <td><i class="brand ui huge google icon"></i></td>
              <td>
                <a href="{% provider_login_url 'facebook' method='oauth2' %}">
                  <i class="brand ui huge facebook icon"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td><i class="brand ui huge twitter icon"></i></td>
              <td><i class="more ui huge ellipsis horizontal icon"></i></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="dismiss ui fluid black button">dismiss</div>
    </div>
  </div>
</div>
