{% extends "getchapp/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
    .grid {}

    .grid:after {
      content: '';
      display: block;
      clear: both;
    }

    .grid-sizer,
    .grid-item {
      width: 50%;
      float: left;
      padding: 5px;
      padding-bottom:0px;
      background: none;
    }

    .grid-item img {
      display: block;
      max-width: 100%;
    }

    .grid-item img:hover {
      opacity: 0.5;
    }
  </style>
{% endblock css %}

{% block mastheader %}
{% include "getchapp/header.html" with type="with_banner" %}
{% endblock mastheader %}

{% block mastbody %}
<div class="ui vertical center aligned segment" style="margin-top:-70px;">
  <div class="ui container">
    <div class="grid">

      {% for ch in channels %}
      <div class="grid-item">
        <div>
          <a href="/channel/{{ch.id}}">
            <img class="ui image" src="{{ch.pix.src.url}}"/>
          </a>

          {% include "getchapp/barcode.html" %}
        </div>
      </div>
      {% endfor %}

      <div class="grid-sizer"></div>
    </div>
  </div>
</div>
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    var $grid = $('.grid').masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    });

    $grid.imagesLoaded().progress(function() {
      $grid.masonry('layout');
    });

    $('.ui.barcode.icon').popup({
      inline: true,
      hoverable: true,
      position: 'top right',
    });
  </script>
{% endblock js %}
