<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block css %}
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'spin/spin.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    * {
      /* box-sizing: border-box !important;
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important; */
      /* font-family: 'Noto Sans KR', sans-serif; */
    }

    *:focus {
      outline: none;
    }
  </style>
  {% endblock css %}
</head>


<body>
  <div id="mastheader">
    {% block mastheader %}
    {% include "getchapp/header.html" with type="top_only" %}
    {% endblock mastheader %}
  </div>

  <div id="mastbody" style="margin-top:70px;">
    {% block mastbody %}
    {% endblock mastbody %}
    {% include 'getchapp/poster.html' %}
  </div>


  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery.ui.touch-punch.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="{% static 'spin/spin.js' %}"></script>
  <script src="{% static 'getch/tagger.js' %}"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>


  <script>
    $('#banner-detector').visibility({
      once: false,
      onTopPassed: function() {
        $('#topheader').transition('fade in');
      },
      onTopPassedReverse: function() {
        $('#topheader').transition('fade out');
      }
    });


    $('.my.signin.item').click(function() {
      $('.signin-checkbox').prop('checked', true);
    });

    $('.signin-modal .dismiss').click(function() {
      $('.signin-checkbox').prop('checked', false);
    });


    // https://docs.djangoproject.com/en/2.2/ref/csrf/
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $(document).ready(function(){
      var csrftoken = Cookies.get('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });


    $(document).click(function(event) {
      if (!$(event.target).closest('.signin-modal, .my.item').length) {
        $('.signin-checkbox').prop('checked', false);
      }
    });
  </script>
  {% endblock js %}

</body>
</html>
