<!doctype html>
<html lang="ko">
<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  {% block css %}
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    * {
      /* box-sizing: border-box !important;
      -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important; */
      /* font-family: 'Noto Sans KR', sans-serif; */
    }

    *:focus {
      outline: none;
    }
  </style>
  {% endblock css %}
</head>


<body>
  <div id="mastheader">
    {% block mastheader %}
    {% include "getchapp/header.html" with type="top_only" %}
    {% endblock mastheader %}
  </div>

  <!-- <div id="mastbody" style="margin-top:-5px;"> -->
  <div id="mastbody" style="margin-top:70px;">
    {% block mastbody %}{% endblock mastbody %}
  </div>


  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
  <!-- <script src="/static/getch/test2.js" type="module"></script> -->


  <script>
    $('#banner-detector').visibility({
      once: false,
      onTopPassed: function() {
        $('#topheader').transition('fade in');
      },
      onTopPassedReverse: function() {
        $('#topheader').transition('fade out');
      }
    });


    // $('#topheader .item, #topbanner .item').popup({position: 'bottom center'});

    $('.my.signin.item').click(function() {
      $('.signin-checkbox').prop('checked', true);
    });

    $('.signin-modal .dismiss').click(function() {
      $('.signin-checkbox').prop('checked', false);
    });

    $(document).click(function(event) {
      if (!$(event.target).closest('.signin-modal, .my.item').length) {
        $('.signin-checkbox').prop('checked', false);
      }
    });
  </script>
  {% endblock js %}

</body>
</html>
