<style>
  :root {
    --tagger-imgsize: 40px;
    --rainbow: linear-gradient(
      to right,
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
    );
  }

  input[type='checkbox'] {
    display: none;
    visibility: hidden;
  }

  #cursor {
    box-sizing: content-box;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%) scale(0);
    visibility: collapse;
    transition: all 0.1s ease;
    transform-origin: center center;
  }

  #tagger {
    z-index: 100;
    position: absolute;
    background: none;
    /* top: 0; */
    left: 5%;
    right: 5%;
    transform: scale(0);
    visibility: collapse;
    transition: all 0.1s ease;
  }

  #tags .tag {
    position: absolute;
  }

  #tags .tag-xy {
    box-sizing: content-box;
    position:absolute;
    width:4px;
    height:4px;
    background:white;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    z-index: 10;
  }

  #tags .tag-body {
    position: absolute;
    background: white;
    border-radius: 0;
    border-style: hidden;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0;
    transform: translate(-42px, -60px) scale(0);
    visibility: collapse;
    transition: all 0.1s ease;
    z-index: 10;
  }

  #tags .tag-body:hover {
    box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
    z-index: 11;
  }

  #tags .tag-body:hover ~ .tag-xy {
    box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
    z-index: 11;
  }

  #tags td {
    border: 1px solid black;
    padding: 0;
    height: var(--tagger-imgsize);
    width: var(--tagger-imgsize) !important;
    transition: all 0.1s ease;
  }

  #tags td img {
    object-fit: contain;
    background: none;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s ease;
  }

  #tags td:first-child img {
    width: var(--tagger-imgsize);
    height: var(--tagger-imgsize);
  }

  #tags td:last-child img {
    width: var(--tagger-imgsize); /* 총 width는 td 에서 박아줄라고 했는데, 그게 안되네? */
    /* width: 25px;  */
    height: 25px;
  }


  #tagger td {
    padding: 0;
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
    position: relative;
  }

  #tagger td.iconbutton {
    width: var(--tagger-imgsize);
  }

  #tagger td#profiletag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #tagger td img {
    object-fit: contain;
    background: none;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: var(--tagger-imgsize);
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
  }

  #tagger td.iconbutton img {
    width: 25px;
    height: 25px;
  }

  #tagger td#brandtag img {
    width: 0;
  }

  #tagger td#itemtag img {
    width: 0;
    height: 25px;
  }

  #tagger td#rating img {
    width: 25px;
    height: 25px;
    display: inline-block;
    opacity: 0.3;
  }


  #tagbox {
    background: white;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 1px solid black;
  }

  #tagbox .prompt {
    font-size: 15px;
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    border-radius: 0;
  }

  #tagbox .select-item-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    background: none;
    visibility: hidden;
    color: gray;
  }

  #itemselector,
  #editor {
    z-index: -1;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 1px solid black;
    transition: all 0.1s ease;
    visibility: hidden;
  }

  #editor > table {
    border: none;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  #editor #tagtext {
    padding: 10px;
  }

  #editor #tagtext textarea {
    resize: none;
    background: none;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    border: none;
    line-height: 1.3em;
    margin: 0;
    display: block;
  }

  #editor #footbuttons {
    background: none;
    padding: 5px;
  }

  #editor #footbuttons .button {
    width: 45%;
    border-radius: 0;
    margin: 5px;
  }


  #cursor-control:checked ~ #cursor {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  #tagger-control:checked ~ #tagger {
    visibility: visible;
    transform: scale(1);
  }


  #brandtag-control:checked ~ #tagger #brandtag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #brandtag-control:checked ~ #tagger #brandtag img {
    width: var(--tagger-imgsize);
  }

  #brandtag-control:checked ~ #tagger #itemselector {
    visibility: visible;
    top: var(--tagger-imgsize);
  }

  #brandtag-control:checked ~ #tagger input.prompt {
    visibility: hidden;
  }

  #brandtag-control:checked ~ #tagger .select-item-placeholder {
    visibility: visible;
  }


  #itemtag-control:checked ~ #tagger #itemtag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #itemtag-control:checked ~ #tagger #itemtag img {
    width: 25px;
  }

  #itemtag-control:checked ~ #tagger #itemselector {
    visibility: hidden;
    top: 0;
  }

  #itemtag-control:checked ~ #tagger #plus {
    display: none;
  }

  #itemtag-control:checked ~ #tagger .select-item-placeholder {
    visibility: hidden;
  }

  #itemtag-control:checked ~ #tagger #editor {
    visibility: visible !important;
    top: 40px !important;
  }

  #tags-control:checked ~ #tags .tag-body {
    visibility: visible;
    transform: translate(-42px, -60px) scale(1);
  }

  #tags-control:checked ~ #tagon {
    visibility: visible;
    transform: scale(1);
  }

  #tagon-control:checked ~ #tagon {
    background-image: var(--rainbow);
    animation:slidebg 2s linear infinite;
  }

  #tagon {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    background: rgba(22,187,204,1);
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    cursor: move;
    visibility: collapse;
    /* transition: all 0.1s ease; */
    transform: scale(0);
    z-index: 50;
  }

  #tagon:hover {
    background-image: var(--rainbow);
    animation:slidebg 2s linear infinite;
  }

  #tagon img {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    background: none;
  }

  @keyframes slidebg {
    to {
      background-position:50px;
    }
  }
</style>


{% load static %}
<div class="ui vertical center aligned segment" style="background:none;border:none;padding:0;">
  <div style="background:none;position:relative;">
    <img id="canvas" src="{{ch.pix.src.url}}" style="width:100%;height:auto;display:block;" />

    <input id='cursor-control' type="checkbox">
    <div id='cursor'></div>

    <input id="tagger-control" type="checkbox">
    <input id="brandtag-control" type="checkbox">
    <input id="itemtag-control" type="checkbox">

    <div id='tagger'>
      <div class="ui fluid search">
        <div class="ui fluid transparent input">

          <table id='tagbox' class='main ui unstackable very compact basic table'>
            <tbody>
              <tr>
                <td id='brandtag'>
                  <img/>
                </td>

                <td id='itemtag'>
                  <img/>
                </td>

                <td id='plus' class='iconbutton'>
                  <img src="{% static 'materials/icons8-plus-100.png' %}" />
                </td>

                <td id='finder'>
                  <input class="prompt" type="text" placeholder="BRAND" oninput="">
                  <div class='select-item-placeholder'>ITEM</div>
                </td>

                <td id='undo' class='iconbutton'>
                  <img src="{% static 'materials/icons8-left-96.png' %}" />
                </td>
              </tr>
            </tbody>
          </table>


          <table id='itemselector' class='tagger--bar ui eight column unstackable very compact basic table'>
            <tbody>
              <tr>
                {% for item in items %}
                <!-- {# {% with "https://storage.googleapis.com/getch-storage/"|add:item.avatar__src as item_avatar %} #} -->
                <td class='iconbutton' onclick='set_item({{item.pk}}, "{{item.avatar.src.url}}")'><img src='{{item.avatar.src.url}}' /></td>
                <!-- <td class='iconbutton' onclick='set_item({{item.pk}}, "{{item_avatar}}")'><img src='{{item_avatar}}' /></td> -->
                <!-- {# {% endwith %} #} -->
                {% endfor %}
              </tr>
            </tbody>
          </table>



          <form id='editor' class="ui form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type='hidden' value='' name='x'>
            <input type='hidden' value='' name='y'>
            <input type='hidden' value='' name='brand_id'>
            <input type='hidden' value='' name='item_id'>
            <input type='hidden' value='{{ch.pk}}' name='on_id'>

            <table class='ui unstackable very compact basic table'>
              <tbody>
                <tr>
                  <td id='profiletag'>
                    <img src="{{ user.avatar.src.url }}"/>
                  </td>

                  <td id='rating'>
                    <img src="{% static 'materials/icons8-star-96.png' %}">
                    <img src="{% static 'materials/icons8-star-96.png' %}">
                    <img src="{% static 'materials/icons8-star-96.png' %}">
                    <img src="{% static 'materials/icons8-star-96.png' %}">
                    <img src="{% static 'materials/icons8-star-96.png' %}">
                  </td>

                  <td class='iconbutton'>
                    <label for='imageuploader'>
                      <img src="{% static 'materials/icons8-unsplash-96.png' %}">
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>

            <div id='tagimage' class="field" style='margin:0;'>
              <input type="file" name="image" accept="image/*" style="display:none;" id="imageuploader" onchange="load_img(this)">
              <div style="margin-top:0;display:none;">
                <img alt="image loaded" style="width:100%;height:auto;display:block;" />
              </div>
            </div>

            <div id='tagtext' class="field">
              <textarea name="text" cols="40" rows="10" maxlength="500" placeholder="COMMENT HERE"></textarea>
            </div>

            <div id='footbuttons'>
              <div class="cancel ui basic black mini button">CANCEL</div>
              <button class="save ui black mini button" type='submit'>SAVE</button>
            </div>
          </form>

        </div>

        <div class="results"></div>
      </div>
    </div>


    <input id="tags-control" type="checkbox">
    <div id='tags'>
      {% include 'getchapp/tags.html' with ch=ch %}
    </div>

    <input id="tagon-control" type="checkbox">
    <div id='tagon' class='ui sticky'>
      <img src="{% static 'materials/icons8-natural-user-interface-2-100.png' %}"/>
    </div>
  </div>
</div>
