<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    * {
      box-sizing: border-box;
    }

    .swiper-container {
      height: 100%;
      width: 100%;
    }
  </style>
</head>


<body>
  <div id='app' class="swiper-container">
    <introview :active='intro'></introview>

    <div class="swiper-wrapper" style='background:black;'>
      <div class="swiper-slide" v-for="(slide, index) in virtualData.slides" :key="index" :style="{left: `${virtualData.offset}px`}">
        <chview :html='slide.outerHTML'></chview>
      </div>
    </div>

    <taggerview @toggle_tagging='tagging=!tagging'></taggerview>
    <panelview :active='panelview' @toggle_panel='panelview=!panelview'></panelview>
    <actionview :tagging='tagging' @toggle_panel='panelview=!panelview'></actionview>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script> -->
  <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'jquery-ui/jquery.ui.touch-punch.min.js' %}"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="{% static 'vue/vue.js' %}"></script>
  <script src="{% static 'swiper/swiper.js' %}"></script>
  {% include "getchapp/vcomp/chview.html" %}
  {% include "getchapp/vcomp/introview.html" %}
  {% include "getchapp/vcomp/actionview.html" %}
  {% include "getchapp/vcomp/taggerview.html" %}
  {% include "getchapp/vcomp/panelview.html" %}


  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        intro: true,
        tagging: false,
        slides: [],
        virtualData: {
          slides: [],
        },
        swiper: null,
        panelview: false,
      },

      created: function() {
        const self = this;
        $.get('{% url "channelset" %}', {howmany:10}, function(html) {
          var parser = new DOMParser();
          self.slides = parser.parseFromString(html, 'text/html').getElementsByClassName('ch');
          self.swiper = new Swiper('.swiper-container', {
            // direction: 'vertical',
            // allowTouchMove: false,
            virtual: {
              slides: self.slides,
              renderExternal: function(data) {
                self.virtualData = data;
              },
            },
          });

          setTimeout(function() {
            self.intro = false;
          }, 500);
        });
      },

      methods: {}
    });



    // https://docs.djangoproject.com/en/2.2/ref/csrf/
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $(document).ready(function(){
      var csrftoken = Cookies.get('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });
  </script>

</body>
</html>
