<!doctype html>
<html lang="ko">

{% load static %}
<head>
  <title>GET.CH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500&display=swap&subset=korean">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    * {
      box-sizing: border-box;
    }

    .swiper-container {
      height: 100%;
      width: 100%;
      background: black;
    }
  </style>
</head>


<body>
  <div id='app' class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"
        v-for="(slide, index) in virtualData.slides"
        :key="index"
        :style="{top: `${virtualData.offset}px`}"
      ><div v-html=slide.outerHTML style='width:100%;height:100%;'></div></div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="{% static 'semantic/semantic.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  {% include "getchapp/vcomp/chview.html" %}


  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        slides: [],
        virtualData: {
          slides: [],
        },
        swiper: null
      },

      created: function() {
        const self = this;
        $.get('/ch/10/', function(html) {
          var parser = new DOMParser();
          self.slides = parser.parseFromString(html, 'text/html').getElementsByClassName('ch');
          self.swiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            virtual: {
              slides: self.slides,
              renderExternal: function(data) {
                self.virtualData = data;
              },
            },
          });
        })

        // const self = this;
        // this.swiper = new Swiper('.swiper-container', {
        //   direction: 'vertical',
        //   virtual: {
        //     slides: self.slides,
        //     renderExternal: function(data) {
        //       self.virtualData = data;
        //     },
        //   },
        // });
      },

    });



    // var swiper = new Swiper(".swiper-container", {
    //   direction: 'vertical',
    //   virtual: {
    //     slides: []
    //     slides: (function() {
    //       var slides = [];
    //       for (var i = 0; i < 600; i += 1) {
    //         slides.push(
    //           '<img src="https://picsum.photos/600/600/?image=' +
    //             (i + 1) +
    //             '"/><p>' +
    //             (i + 1) +
    //             "</p>"
    //         );
    //       }
    //       return slides;
    //     })()
    //   }
    // });

    // $.get('{% url "ch" 520 %}', function(html) {
    //   console.log(html);
    // });



    // https://docs.djangoproject.com/en/2.2/ref/csrf/
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }


    $(document).ready(function(){
      var csrftoken = Cookies.get('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });
  </script>

</body>
</html>
