{% extends "getchapp/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
    /* .button:hover {
      opacity: 0.5;
    } */

    #cursor {
      position: absolute;
      background: white;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      transform: translate(-50%, -50%) scale(0);
      visibility: collapse;
      transition: all 0.1s ease;
      transform-origin: center center;
    }

    #tagger {
      z-index: 100;
      position: absolute;
      background: none;
      top: 0;
      left: 10%;
      right: 10%;
      height: 42px;
      transform: translateY(-60px), scale(0);
      visibility: collapse;
      transition: all 0.1s ease;
    }

    input[type='checkbox'] {
      display: none;
      visibility: hidden;
    }


    #cursor-shower:checked ~ #cursor {
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }

    #tagger-shower:checked ~ #tagger {
      visibility: visible;
      transform: translateY(-60px) scale(1);
    }

    #tagger-brand-shower:checked ~ #tagger-brand {
      width: 40px;
      border-right: 1px solid black;
    }

    #tagger-brand-shower:checked ~ input.prompt {
      display: none;
    }

    #tagger-brand-shower:checked ~ #item-selector {
      visibility: visible !important;
    }

    .results {
      margin-top: 0 !important;
      border-radius: 0 !important;
      border-top: 1px solid transparent !important;
      border-left: 1px solid black !important;
      border-right: 1px solid black !important;
      border-bottom: 1px solid black !important;
      box-shadow: none !important;
    }


    #item-selector {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      /* transform: translateY(-20px); */
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      transition: all 0.1s ease;
      visibility: hidden;
    }

    #item-selector td {
      padding: 0px;
    }

    .centered-img {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background:none;
      width: 0;
      height: 40px;
      transition: all 0.1s ease;
      overflow: hidden;
    }
  </style>
{% endblock css %}


{% block mastbody %}
{% load static %}
<div class="ui vertical center aligned segment" style="background:none;border:none;padding:0;">
  <div style="background:red;position:relative;">
    <img id="canvas" src="{{post.image.url}}" style="width:100%;height:auto;display:block;" />

    <input id='cursor-shower' type="checkbox">
    <div id='cursor'></div>

    <input id="tagger-shower" type="checkbox">
    <div id='tagger' style='background:none;'>
      <div class="ui fluid search" style="background:none;height:100%;">
        <div class="ui fluid transparent input" style="font-size:15px;background:white;height:100%;border:1px solid black;position:relative;">

          <input id="tagger-brand-shower" type="checkbox">
          <div id='tagger-brand' class='centered-img'>
            <img src="" style="width:40px;height:40px;background:none;" />
          </div>

          <input id="tagger-item-shower" type="checkbox">
          <div id='tagger-item' class='centered-img'>
            <img src="" style="width:25px;height:25px;background:none;" />
          </div>

          <div class='centered-img' style='width:40px;'>
            <img src="/static/materials/icons8-plus-100.png" style="width:25px;height:25px;background:none;" />
          </div>

          <input class="prompt" type="text" placeholder="Search..." oninput="" style="padding-left:0 !important;opacity:1;">
          <!-- <div style='background:none;padding:3px;'>
            <div class='ui icon compact button' style='background:none;'><i class='ui undo icon'></i></div>
            <div class='ui icon compact button' style='background:none;'><i class='ui arrow right icon'></i></div>
          </div> -->


          <!-- <div id='item-selector' style="position:absolute;top:80px;left:0;right:0;height:40px;background:white;">
            <table class='ui eight column unstackable very compact basic table' style='border:none;'>
              <tbody>
                <tr class='center aligned'>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/accessory.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/bag.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/bottom.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/dress.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/outer.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/shoe.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/skirt.png" style="width:25px;height:25px;background:none;" /></td>
                  <td><img src="https://storage.googleapis.com/getch-storage/item_images/top.png" style="width:25px;height:25px;background:none;" /></td>
                </tr>
              </tbody>
            </table>
          </div> -->

        </div>

        <div class="results"></div>
      </div>
    </div>

    <div id='tags'></div>
  </div>
</div>


{% include "getchapp/post-author.html" %}
{% include "getchapp/post-comment.html" %}
{% include "getchapp/post-comment.html" %}
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    var pos;

    $('#canvas').on({
      'click': function(e) {
        pos = get_position(e);

        $('#cursor').css({ left: pos.x_in_canvas + '%', top: pos.y_in_canvas + '%' });
        $('#cursor-shower').prop('checked', true);

        $('#tagger').css({ top: pos.y_in_canvas + '%' });
        $('#tagger-shower').prop('checked', true);

        $('#item-selector').css({ top: pos.y_in_canvas + '%' });

        // 요게 안먹히네..
        // $('#tagger input.prompt').focus();
      },
    });

    function get_position(e) {
      var canvas_position = $(e.target).offset();
      var canvas_left = canvas_position.left;
      var canvas_top = canvas_position.top;
      var canvas_width = $(e.target).width();
      var canvas_height = $(e.target).height();

      var x = e.pageX;
      var y = e.pageY;

      var x_in_canvas = (x - canvas_left) / canvas_width * 100;
      var y_in_canvas = (y - canvas_top) / canvas_height * 100;

      var pos = {
        x: x,
        y: y,
        x_in_canvas: x_in_canvas,
        y_in_canvas: y_in_canvas
      };

      return pos;
    }

    $('#item-selector td').click(function() {
      console.log(1);
      var src = $(this).children('img').attr('src');
      $('.tagger-item').attr('src', src);
      $('.tagger-item').css({
        display: 'block'
      })
    })


    // const template_channeltag = ({ch, image, top, left}) => `
    //   <div class="tag" style="top:${top};left:${left};position:absolute;transform:translate(-50%,-150%);width:40px;height:40px;background:white;border:1px solid black;">
    //     <div class="tag-brand" style="opacity:1;" ch="${ch}">
    //       <a href="{% url 'brand' 1 %}">
    //         <img class="ui image" src="${image}" style="object-fit:contain;width:36px;height:36px;">
    //       </a>
    //     </div>
    //   </div>
    // `;

    function set_tag(ch, image) {
      $('#tagger-brand img').attr('src', 'https://storage.googleapis.com/getch-storage/' + image);
      $('#tagger-brand-shower').prop('checked', true);

      // $('#item-selector').css({
      //   visibility: 'visible'
      // });
    }

    $('#tagger .ui.search').search({
      source: {{ brands | safe }},
      fullTextSearch: true,
      showNoResults: false,
      maxResults: 5,
      minCharacters: 1,
      searchFields: ['name', 'category', 'keywords'],
      templates: {
        standard: function(response){
          htmls = $.map(response.results, function(item) {
                    var image = item.image.replace('\\', '/');
                    var onclick = "set_tag(" + item.pk + ", '" + image + "')";
                    // var onclick = "set_tag(" + item.pk + ", '/files/" + image + "')";
                    var html = '<div class="result" style="height:100px" onclick="' + onclick + '">';
                    html += '<div class="image" style="height:80px;width:80px;">'
                          // + '<img src="/files/' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                          + '<img src="https://storage.googleapis.com/getch-storage/' + item.image + '" style="object-fit:contain;height:80px;width:80px;">'
                          + '</div>';
                    html += '<div class="content">';
                    html += '<div class="ui header">' + item.fullname_en;
                    html += '<div class="sub header">' + item.fullname_kr + '</div>';
                    html += '</div></div>';
                    html += '</div>';
                    return html
                  });

          return htmls
        },
      },
    });


    // var onTagging = false;
    // var onCanvas = false;
    // var onBubble = false;
    // var tagX;
    // var tagY;
    //
    //
    // function clickcoord(e) {
    //   if (onTagging) {
    //     positioning_mode();
    //     show_cursor(e);
    //   } else {
    //     tagging_mode(e);
    //     tagX = e.pageX;
    //     tagY = e.pageY;
    //   }
    // };
    //
    //
    // function tagging_mode(e) {
    //   onTagging = true;
    //   $('#cursor-bubble .prompt').css('opacity', '1');
    //   $('#cursor-bubble').css({
    //     left: '-100px',
    //     right: '-100px',
    //   });
    //   $('#cursor-bubble .prompt').focus();
    // };
    //
    // function positioning_mode() {
    //   onTagging = false;
    //   $('#cursor-bubble').css({
    //     left: '-20px',
    //     right: '-20px',
    //   });
    //   $('#cursor-bubble .prompt').css('opacity', '0');
    // };
    //
    //
    // function show_cursor(e) {
    //   if (!onTagging) {
    //     $('#cursor').css({
    //       left: e.pageX,
    //       top: e.pageY
    //     });
    //   };
    //
    //   $('#cursor-bubble').css('opacity', 1);
    // }
    //
    // function hide_cursor() {
    //   $('#cursor-bubble').css({ opacity: 0 });
    // }
    //
    //
    // $('#canvas').on({
    //   'mouseenter': function() { onCanvas = true },
    //   'mouseleave': function() { onCanvas = false }
    // });
    //
    // $('#cursor-bubble').on({
    //   'mouseenter': function() { onBubble = true },
    //   'mouseleave': function() { onBubble = false }
    // });
    //
    //
    // $('body').on('mousemove', function(e) {
    //   if (onCanvas || onBubble || onTagging) {
    //     show_cursor(e);
    //   } else {
    //     hide_cursor();
    //   }
    // });

  </script>
{% endblock js %}
