{% extends "getchapp/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
    :root {
      --tagger-imgsize: 40px;
      --rainbow: linear-gradient(
        to right,
        #E7484F,
        #E7484F 16.65%,
        #F68B1D 16.65%,
        #F68B1D 33.3%,
        #FCED00 33.3%,
        #FCED00 49.95%,
        #009E4F 49.95%,
        #009E4F 66.6%,
        #00AAC3 66.6%,
        #00AAC3 83.25%,
        #732982 83.25%,
        #732982 100%,
        #E7484F 100%
      );
    }

    input[type='checkbox'] {
      display: none;
      visibility: hidden;
    }

    #cursor {
      box-sizing: content-box;
      position: absolute;
      background: white;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
      transform: translate(-50%, -50%) scale(0);
      visibility: collapse;
      transition: all 0.1s ease;
      transform-origin: center center;
    }

    #tagger {
      z-index: 100;
      position: absolute;
      background: none;
      /* top: 0; */
      left: 10%;
      right: 10%;
      transform: scale(0);
      visibility: collapse;
      transition: all 0.1s ease;
    }

    #tags .tag {
      position: absolute;
    }

    #tags .tag-xy {
      box-sizing: content-box;
      position:absolute;
      width:8px;
      height:8px;
      background:white;
      border-radius: 8px;
      box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
      transform: translate(-50%, -50%);
      transition: all 0.1s ease;
      z-index: 10;
    }

    #tags .tag-body {
      position: absolute;
      background: white;
      border-radius: 0;
      border-style: hidden;
      border-collapse: collapse;
      border: 1px solid black;
      margin: 0;
      transform: translate(-42px, -60px) scale(0);
      visibility: collapse;
      transition: all 0.1s ease;
      z-index: 10;
    }

    #tags .tag-body:hover {
      box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
      z-index: 11;
    }

    #tags .tag-body:hover ~ .tag-xy {
      box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
      z-index: 11;
    }

    #tags td {
      border: 1px solid black;
      padding: 0;
      height: var(--tagger-imgsize);
      width: var(--tagger-imgsize) !important;
      transition: all 0.1s ease;
    }

    #tags td img {
      object-fit: contain;
      background: none;
      display: block;
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
      transition: all 0.1s ease;
    }

    #tags td:first-child img {
      width: var(--tagger-imgsize);
      height: var(--tagger-imgsize);
    }

    #tags td:last-child img {
      width: var(--tagger-imgsize); /* 총 width는 td 에서 박아줄라고 했는데, 그게 안되네? */
      /* width: 25px;  */
      height: 25px;
    }


    #tagger td {
      padding: 0;
      height: var(--tagger-imgsize);
      transition: all 0.1s ease;
      position: relative;
    }

    #tagger td.iconbutton {
      width: var(--tagger-imgsize);
    }

    #tagger td#profiletag {
      width: var(--tagger-imgsize);
      border-right: 1px solid black;
    }

    #tagger td img {
      object-fit: contain;
      background: none;
      display: block;
      vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
      width: var(--tagger-imgsize);
      height: var(--tagger-imgsize);
      transition: all 0.1s ease;
    }

    #tagger td.iconbutton img {
      width: 25px;
      height: 25px;
    }

    #tagger td#brandtag img {
      width: 0;
    }

    #tagger td#itemtag img {
      width: 0;
      height: 25px;
    }

    #tagger td#rating img {
      width: 25px;
      height: 25px;
      display: inline-block;
      opacity: 0.3;
    }


    #tagbox {
      background: white;
      width: 100%;
      margin: 0;
      border-radius: 0;
      border: 1px solid black;
    }

    #tagbox .prompt {
      font-size: 15px;
      height: 100%;
      width: 100%;
      border: none;
      background: none;
      border-radius: 0;
    }

    #tagbox .select-item-placeholder {
      position: absolute;
      top: 10px;
      left: 0;
      background: none;
      visibility: hidden;
      color: gray;
    }

    #itemselector,
    #editor {
      z-index: -1;
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      border-radius: 0;
      border: 1px solid black;
      transition: all 0.1s ease;
      visibility: hidden;
    }

    #editor > table {
      border: none;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid black;
      border-radius: 0;
    }

    #editor #tagtext {
      padding: 10px;
    }

    #editor #tagtext textarea {
      resize: none;
      background: none;
      width: 100%;
      height: 40px;
      overflow-y: hidden;
      border: none;
      line-height: 1.3em;
      margin: 0;
      display: block;
    }

    #editor #footbuttons {
      background: none;
      padding: 5px;
    }

    #editor #footbuttons .button {
      width: 45%;
      border-radius: 0;
      margin: 5px;
    }



    #cursor-control:checked ~ #cursor {
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }

    #tagger-control:checked ~ #tagger {
      visibility: visible;
      transform: scale(1);
    }


    #brandtag-control:checked ~ #tagger #brandtag {
      width: var(--tagger-imgsize);
      border-right: 1px solid black;
    }

    #brandtag-control:checked ~ #tagger #brandtag img {
      width: var(--tagger-imgsize);
    }

    #brandtag-control:checked ~ #tagger #itemselector {
      visibility: visible;
      top: var(--tagger-imgsize);
    }

    #brandtag-control:checked ~ #tagger input.prompt {
      visibility: hidden;
    }

    #brandtag-control:checked ~ #tagger .select-item-placeholder {
      visibility: visible;
    }


    #itemtag-control:checked ~ #tagger #itemtag {
      width: var(--tagger-imgsize);
      border-right: 1px solid black;
    }

    #itemtag-control:checked ~ #tagger #itemtag img {
      width: 25px;
    }

    #itemtag-control:checked ~ #tagger #itemselector {
      visibility: hidden;
      top: 0;
    }

    #itemtag-control:checked ~ #tagger #plus {
      display: none;
    }

    #itemtag-control:checked ~ #tagger .select-item-placeholder {
      visibility: hidden;
    }

    #itemtag-control:checked ~ #tagger #editor {
      visibility: visible !important;
      top: 40px !important;
    }

    #tags-control:checked ~ #tags .tag-body {
      visibility: visible;
      transform: translate(-42px, -60px) scale(1);
    }

    #tags-control:checked ~ #tagon {
      visibility: visible;
      transform: scale(1);
    }

    #tagon-control:checked ~ #tagon {
      background-image: var(--rainbow);
      animation:slidebg 2s linear infinite;
    }


    .results {
      margin-top: 0 !important;
      border-radius: 0 !important;
      border-top: 0px solid transparent !important;
      border-left: 1px solid black !important;
      border-right: 1px solid black !important;
      border-bottom: 1px solid black !important;
      box-shadow: none !important;
    }

    .result {
      padding: 10px !important;
      border-radius: 0 !important;
      background: none !important;
      border-bottom: 1px solid black !important;
      height: 80px !important;
    }

    .result > .image {
      height: 60px !important;
      width: 60px !important;
      border-radius: 0 !important;
    }

    .result > .image > img {
      object-fit: contain !important;
      height: 60px !important;
      width: 60px !important;
    }

    #tagon {
      position: absolute;
      color: white;
      top: 10px;
      left: 10px;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 50px;
      background: rgba(22,187,204,1);
      box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
      cursor: move;
      visibility: collapse;
      /* transition: all 0.1s ease; */
      transform: scale(0);
    }

    #tagon:hover {
      background-image: var(--rainbow);
      animation:slidebg 2s linear infinite;
    }

    #tagon img {
      vertical-align: middle;
      width: 36px;
      height: 36px;
      background: none;
    }

    @keyframes slidebg {
      to {
        background-position:50px;
      }
    }
  </style>
{% endblock css %}


{% block mastbody %}
{% load static %}
{% load widget_tweaks %}
<div class="ui vertical center aligned segment" style="background:none;border:none;padding:0;">
  <div style="background:none;position:relative;">
    <img id="canvas" src="{{post.image.url}}" style="width:100%;height:auto;display:block;" />

    <input id='cursor-control' type="checkbox">
    <div id='cursor'></div>

    <input id="tagger-control" type="checkbox">
    <input id="brandtag-control" type="checkbox">
    <input id="itemtag-control" type="checkbox">

    <div id='tagger'>
      <div class="ui fluid search">
        <div class="ui fluid transparent input">

          <table id='tagbox' class='main ui unstackable very compact basic table'>
            <tbody>
              <tr>
                <td id='brandtag'>
                  <img/>
                </td>

                <td id='itemtag'>
                  <img/>
                </td>

                <td id='plus' class='iconbutton'>
                  <img src="/static/materials/icons8-plus-100.png" />
                </td>

                <td id='finder'>
                  <input class="prompt" type="text" placeholder="BRAND" oninput="">
                  <div class='select-item-placeholder'>ITEM</div>
                </td>

                <td id='undo' class='iconbutton'>
                  <img src="/static/materials/icons8-left-96.png" />
                </td>
              </tr>
            </tbody>
          </table>


          <table id='itemselector' class='tagger--bar ui eight column unstackable very compact basic table'>
            <tbody>
              <tr>
                {% for item in items %}
                {% with "https://storage.googleapis.com/getch-storage/"|add:item.image as item_image %}
                <td class='iconbutton' onclick='set_item({{item.pk}}, "{{item_image}}")'><img src='{{item_image}}' /></td>
                {% endwith %}
                {% endfor %}
              </tr>
            </tbody>
          </table>



          <form id='editor' class="ui form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type='hidden' value='' name='x'>
            <input type='hidden' value='' name='y'>
            <input type='hidden' value='' name='brand_id'>
            <input type='hidden' value='' name='item_id'>

            <table class='ui unstackable very compact basic table'>
              <tbody>
                <tr>
                  <td id='profiletag'>
                    {% include "getchapp/avatar.html" %}
                  </td>

                  <td id='rating'>
                    <img src="/static/materials/icons8-star-96.png">
                    <img src="/static/materials/icons8-star-96.png">
                    <img src="/static/materials/icons8-star-96.png">
                    <img src="/static/materials/icons8-star-96.png">
                    <img src="/static/materials/icons8-star-96.png">
                  </td>

                  <td class='iconbutton'>
                    <label for='imageuploader'>
                      <img src="/static/materials/icons8-unsplash-96.png">
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>

            <div id='tagimage' class="field" style='margin:0;'>
              {% render_field tagform.image onchange="load_img(this)" id="imageuploader" style="display:none;" %}
              <div style="margin-top:0;display:none;">
                <img src="#" alt="image loaded" style="width:100%;height:auto;display:block;" />
              </div>
            </div>

            <div id='tagtext' class="field">
              {% render_field tagform.text placeholder="COMMENT HERE" %}
            </div>

            <div id='footbuttons'>
              <button class="cancel ui basic black mini button">CANCEL</button>
              <button class="save ui black mini button" type='submit'>SAVE</button>
            </div>
          </form>

        </div>

        <div class="results"></div>
      </div>
    </div>


    <input id="tags-control" type="checkbox">
    <div id='tags'>
      {% for tag in post.tag_set.all %}
      <div class='tag' style='left:{{tag.x}}%;top:{{tag.y}}%;'>
        <table class='tag-body ui unstackable table' onclick='load_tag_feed({{tag.pk}})'>
          <tbody>
            <tr>
              <td><img src="{{tag.brand.image.url}}"/></td>
              <td><img src="{{tag.item.image.url}}"/></td>
            </tr>
          </tbody>
        </table>
        <div class='tag-xy'></div>
      </div>
      {% endfor %}
    </div>

    <input id="tagon-control" type="checkbox">
    <div id='tagon'>
      <img src="/static/materials/icons8-natural-user-interface-2-100.png"/>
    </div>
  </div>
</div>


{% include "getchapp/post-feedinit.html" %}
{% include "getchapp/post-actionbar.html" %}
{% include "getchapp/post-comments.html" %}
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    var pos = {
      x: 0,
      y: 0,
      brand_id: undefined,
      item_id: undefined,
      state: 'tag-hidden' // tag-watchable, taggable
    };

    $('#canvas').on({
      'click': function(e) {
        if (pos.state=='tag-hidden') {
          $('#tags-control').prop('checked', true);
          pos.state = 'tag-watchable';

        } else if (pos.state=='tag-watchable') {
          $('#tags-control').prop('checked', false);
          pos.state = 'tag-hidden';

        } else if (pos.state=='taggable') {
          set_position(e);
          init_tagger();

          $('#cursor').css({ left: pos.x + '%', top: pos.y + '%' });
          $('#cursor-control').prop('checked', true);

          $('#tagger').css({ top: 'calc(' + pos.y + '% - 60px)' });
          $('#tagger .prompt').val('');
          $('#tagger-control').prop('checked', true);

          // time delay 없이 포커스를 주면 안된다. prompt가 뜨는 시간을 고려해야되는 것 같다
          setTimeout(function() { $('#tagger .prompt').focus(); }, 100);
        }
      },
    });


    function init_tagger() {
      $('#cursor-control').prop('checked', false);
      $('#tagger-control').prop('checked', false);
      $('#brandtag-control').prop('checked', false);
      $('#itemtag-control').prop('checked', false);
    }

    function init_tagon() {
      $('#tagon-control').prop('checked', false);
      $('#tags-control').prop('checked', false);
    }


    function set_position(e) {
      var canvas_position = $(e.target).offset();
      var canvas_left = canvas_position.left;
      var canvas_top = canvas_position.top;
      var canvas_width = $(e.target).width();
      var canvas_height = $(e.target).height();

      var page_x = e.pageX;
      var page_y = e.pageY;

      pos.x = (page_x - canvas_left) / canvas_width * 100;
      pos.y = (page_y - canvas_top) / canvas_height * 100;
    }


    function set_brand(brand_id, image) {
      pos.brand_id = brand_id;
      $('#brandtag img').attr('src', image);
      $('#brandtag-control').prop('checked', true);
    }


    function set_item(item_id, image) {
      pos.item_id = item_id;
      $('#itemtag img').attr('src', image);
      $('#itemtag-control').prop('checked', true);
    }


    $('#undo').click(function() {
      if ($('#itemtag-control').prop('checked')) {
        $('#itemtag-control').prop('checked', false);

      } else if ($('#brandtag-control').prop('checked')) {
        $('#brandtag-control').prop('checked', false);

      } else {
        $('#tagger-control').prop('checked', false);
      };
    });


    $('#tagger .ui.search').search({
      source: {{ brands | safe }},
      fullTextSearch: true,
      showNoResults: false,
      maxResults: 5,
      minCharacters: 1,
      searchFields: ['name', 'category', 'keywords'],
      templates: {
        standard: function(response){
          htmls = $.map(response.results, function(brand) {
                    var image = 'https://storage.googleapis.com/getch-storage/' + brand.image.replace('\\', '/');
                    var onclick = "set_brand(" + brand.pk + ", '" + image + "')";
                    var html = '<div class="result" onclick="' + onclick + '">';
                    html += '<div class="image">'
                          + '<img src="' + image + '">'
                          + '</div>';
                    html += '<div class="content">';
                    html += '<div class="ui header">' + brand.fullname_en;
                    html += '<div class="sub header">' + brand.fullname_kr + '</div>';
                    html += '</div></div>';
                    html += '</div>';
                    return html
                  });

          return htmls
        },
      },
    });


    $('#editor textarea').on({
      'focusin': function() {
        this.style.height = '40px';
        this.style.height = (this.scrollHeight) + 'px';
      },

      'focusout': function() {
        if (this.value=='') {
          this.style.height = '40px';
        };
      },

      'input': function() {
        this.style.height = '40px';
        this.style.height = (this.scrollHeight) + 'px';
      }
    });


    const template_tag = ({pk, x, y, brand__image, item__image}) => `
      <div class='tag' style='left:${x}%;top:${y}%;'>
        <div class='tag-xy'></div>
        <table class='tag-body ui unstackable table' onclick='load_tag_feed(${pk})'>
          <tbody>
            <tr>
              <td><img src="https://storage.googleapis.com/getch-storage/${brand__image}"/></td>
              <td><img src="https://storage.googleapis.com/getch-storage/${item__image}"/></td>
            </tr>
          </tbody>
        </table>
      </div>
    `

    const template_feedinit = ({author_id, author_image, author_email, text, created_at, image}) => `
      <table class='ui unstackable very compact basic table'>
        <tbody>
          <tr class='top aligned'>
            <td>
              <a href="/channel/profile/${author_id}/">
                <img src="${author_image}"/>
              </a>
            </td>

            <td>
              <p>${author_email}</p>
              <p id='feedinit-text'>
                <span>
                  ${text}
                </span>
              </p>
              <p id='feedinit-created-at'>
                ${created_at}
              </p>
              <img src="https://storage.googleapis.com/getch-storage/${image}" style='width:100%;height:auto;display:block;'/>
            </td>
          </tr>
        </tbody>
      </table>
    `



    function load_tag_feed(tag_id) {
      var target = document.getElementById('canvas').parentElement;
      var spinner = new Spinner().spin(target);
      var author_id, author_image, author_email, text, created_at;
      var html;

      $.ajax({
        url: '{% url "tag_feed" pk=0 %}'.replace('0', tag_id),
        type: 'GET',
        data: {},
        dataType:'json',
        cache: false,
        contentType: false,
        processData: false,
        success: function(json) {
          console.log(json)
          // if (json.success) {
          //   $('#tags').html(json.tags.map(template_tag).join(''));
          // } else {
          //   console.log('something wrong');
          // }

          author_id = json.tag.fields.author.id;
          author_image = json.tag.fields.author.image;
          author_email = json.tag.fields.author.email;
          text = json.tag.fields.text;
          created_at = json.tag.fields.created_at.slice(0,10);
          image = json.tag.fields.image

          html = template_feedinit({author_id, author_image, author_email, text, created_at, image});
          $('#feedinit').html(html);
          spinner.stop();
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ': ' + xhr.responseText);
          spinner.stop();
        }
      });
    }


    function save_tag(formData) {
      var target = document.getElementById('canvas').parentElement;
      var spinner = new Spinner().spin(target);

      $.ajax({
        url: '{% url "save_tag" post.pk %}',
        type: 'POST',
        // data: $('#editor').serialize(),
        data: formData,
        dataType:'json',
        cache: false,
        contentType: false,
        processData: false,
        success: function(json) {
          if (json.success) {
            $('#tags').html(json.tags.map(template_tag).join(''));
          } else {
            console.log('something wrong');
          }
          spinner.stop();
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ': ' + xhr.responseText);
          spinner.stop();
        }
      });
    }


    $('#editor').on('submit', function(event) {
      event.preventDefault();
      init_tagger();
      $('#editor input[name="x"]').attr('value', pos.x);
      $('#editor input[name="y"]').attr('value', pos.y);
      $('#editor input[name="brand_id"]').attr('value', pos.brand_id);
      $('#editor input[name="item_id"]').attr('value', pos.item_id);

      let formData = new FormData(this);
      save_tag(formData);
    });


    // $('#footbuttons .save').click(function() {
    //   init_tagger();
    //   $('#editor input[name="x"]').attr('value', pos.x);
    //   $('#editor input[name="y"]').attr('value', pos.y);
    //   $('#editor input[name="brand_id"]').attr('value', pos.brand_id);
    //   $('#editor input[name="item_id"]').attr('value', pos.item_id);
    // });



    function load_img(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $("#tagimage img").attr("src", e.target.result);
          $("#tagimage img").parent().css("display", "block");
        }

        reader.readAsDataURL(input.files[0]);
      }
    }


    $('#tagon')
      .draggable({
        containment: 'parent', // 부모요소 안에 종속
      })
      .on({
        'click': function() {
          if (pos.state=='taggable') {
            init_tagger();
            init_tagon();
            pos.state = 'tag-hidden';

          } else {
            $('#tagon-control').prop('checked', true);
            pos.state = 'taggable';
          }
        }
      });

  </script>
{% endblock js %}
