<div class="ui vertical center aligned segment" style="background:none;border:none;padding:0px;">
  <div class="ui text container">
    <div class="ui icon secondary menu">
      <a class="item" href="#" style="background:none;margin:0;">
        <img src="/static/materials/icons8-heart-100.png" style="width:25px;height:25px;">
      </a>
      <a class="item" href="#" style="background:none;margin:0;">
        <img src="/static/materials/icons8-topic-100.png" style="width:20px;height:20px;">
      </a>
      <a class="item" href="#" style="background:none;margin:0;">
        <img src="/static/materials/icons8-upload-100.png" style="width:25px;height:25px;">
      </a>

      <div class="right menu" style="background:none;">
        <a class="item" href="#" style="background:none;margin:0;">
          <img src="/static/materials/icons8-bookmark-100.png" style="width:25px;height:25px;">
        </a>
      </div>
    </div>
  </div>
</div>
