<style>
  .comment {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px !important;
  }

  .comment > table {
    width: 90vw !important;
    margin-top: 5vw !important;
    border-radius: 0 !important;
    border: 1px solid black !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .comment > table td:first-child {
    background: none !important;
    padding: 0 !important;
    width: 40px !important;
  }

  .comment > table td:first-child img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
  }

  .comment > table td:last-child {
    padding: 0 !important;
    font-size: 12px !important;
    position: relative !important;
    background: none !important;
  }

  .comment > table td:last-child p {
    margin: 5px;
  }

  .comment #post-created-at {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>

<div id='comments'>
  {% for comment in post.on_posts %}
  <div class="comment ui vertical center aligned segment">
    <table class='ui unstackable very compact basic table'>
      <tbody>
        <tr class='top aligned'>
          <td>
            <a href="{% url 'user' comment.master.pk %}">
              <img src="{{ comment.master.avatar.src.url }}"/>
            </a>
          </td>

          <td>
            <p>{{ comment.master.email }}</p>
            <p id='post-text'>
              <span>
                {{ comment.text }}
              </span>
            </p>
            <p id='post-created-at'>
              {{ comment.created_at|date:"Y-m-d"}}
            </p>

            <a href='{% url "post" comment.pk %}'>
              <img src="{{ comment.pix.src.url }}" style='width:100%;height:auto;display:block;'/>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
