<style>
  #posthead {
    background: black;
    border: none;
    padding: 0;
  }

  #posthead > table {
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  #posthead > table td:first-child {
    background: none;
    padding: 0;
    width: 40px;
  }

  #posthead > table td:first-child img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border: 1px solid black;
  }

  #posthead > table td:last-child {
    padding: 0;
    color: white;
    font-size: 12px;
    position: relative;
    background: none;
  }

  #posthead > table td:last-child p {
    margin: 5px;
  }

  #posthead #posthead-text > span {
    background: white;
    color: black;
  }

  #posthead #posthead-created-at {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>


<div id='posthead' class="ui vertical center aligned segment">

  <table class='ui unstackable very compact basic table'>
    <tbody>
      <tr class='top aligned'>
        <td>
          <a href="{% url 'user' post.master.pk %}">
            <img src="{{ post.master.avatar.src.url }}"/>
          </a>
        </td>

        <td>
          <p>{{ post.master.email }}</p>
          <p id='posthead-text'>
            <span>
              {{ post.text }}
            </span>
          </p>
          <p id='posthead-created-at'>
            {{ post.created_at|date:"Y-m-d"}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>

</div>
