<style>
  #feeder {
    z-index: -1;
    background: none;
    /* position: absolute; */
    /* top: 0; */
    /* left: 5%; */
    /* right: 5%; */
    width: 100%;
    transition: all 0.1s ease;
    /* transform: scale(0); */
    /* visibility: collapse; */
    display: none;
  }

  #feeder form {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0;
    border: 1px solid black;
  }

  #feeder form > table {
    border: none;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  #feeder #comment-tagtext {
    padding: 10px;
    background: none;
  }

  #feeder #comment-tagtext textarea {
    resize: none;
    background: none;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    border: none;
    line-height: 1.3em;
    margin: 0;
    display: block;
  }

  #feeder #comment-footbuttons {
    background: none;
    padding: 5px;
  }

  #feeder #comment-footbuttons .button {
    width: 45%;
    border-radius: 0;
    margin: 5px;
  }

  #feeder td {
    padding: 0;
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
    position: relative;
  }

  #feeder td.iconbutton {
    width: var(--tagger-imgsize);
  }

  #feeder td#comment-profiletag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #feeder td img {
    object-fit: contain;
    background: none;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: var(--tagger-imgsize);
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
  }

  #feeder td.iconbutton img {
    width: 25px;
    height: 25px;
  }

  #feeder td#comment-rating img {
    width: 25px;
    height: 25px;
    display: inline-block;
    opacity: 0.3;
  }

  #feeder-control:checked ~ #feeder {
    /* visibility: visible; */
    /* transform: scale(1); */
    display: block;
  }
</style>


<input id="feeder-control" type="checkbox">
<div id='feeder'>
  <form class="ui form" method="post" enctype="multipart/form-data">
    <table class='ui unstackable very compact basic table'>
      <tbody>
        <tr>
          <td id='comment-profiletag'>
            {% include "getchapp/avatar.html" %}
          </td>

          <td id='comment-rating'>
            <img src="/static/materials/icons8-star-96.png">
            <img src="/static/materials/icons8-star-96.png">
            <img src="/static/materials/icons8-star-96.png">
            <img src="/static/materials/icons8-star-96.png">
            <img src="/static/materials/icons8-star-96.png">
          </td>

          <td class='iconbutton'>
            <label for='comment-imageuploader'>
              <img src="/static/materials/icons8-unsplash-96.png">
            </label>
          </td>
        </tr>
      </tbody>
    </table>

    <div id='comment-tagimage' class="field" style='margin:0;'>
      <input type="file" name="image" accept="image/*" style="display:none;" id="comment-imageuploader" onchange="load_img(this)">
      <div style="margin-top:0;display:none;">
        <img src="#" alt="image loaded" style="width:100%;height:auto;display:block;" />
      </div>
    </div>

    <div id='comment-tagtext' class="field">
      <textarea name="text" cols="40" rows="10" maxlength="500" placeholder="COMMENT HERE"></textarea>
    </div>

    <div id='comment-footbuttons'>
      <div class="cancel ui basic black mini button">CANCEL</div>
      <button class="save ui black mini button" type='submit'>SAVE</button>
    </div>
  </form>
</div>
