<style>
  #publisher {
    z-index: 50;
    position: fixed;
    background: none;
    left: 20px;
    right: 20px;
    top: 0px;
    /* transform: scale(0); */
    visibility: collapse;
    opacity: 0;
    transition: all 0.1s ease;
  }


  #publisher td {
    padding: 0;
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
    position: relative;
  }

  #publisher td.iconbutton {
    width: var(--tagger-imgsize);
  }

  #publisher td.profiletag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #publisher td img {
    object-fit: contain;
    background: none;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: var(--tagger-imgsize);
    height: var(--tagger-imgsize);
    transition: all 0.1s ease;
  }

  #publisher td.iconbutton img {
    width: 25px;
    height: 25px;
  }

  #publisher td.brandtag img {
    width: 0;
  }

  #publisher td.itemtag img {
    width: 0;
    height: 25px;
  }

  #publisher td.rating img {
    width: 25px;
    height: 25px;
    display: inline-block;
    opacity: 0.3;
  }


  #publisher .tagbox {
    background: white;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 1px solid black;
  }

  #publisher .tagbox .prompt {
    font-size: 15px;
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    border-radius: 0;
  }

  #publisher .tagbox .select-item-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    background: none;
    visibility: hidden;
    color: gray;
  }

  #publisher .itemselector,
  #publisher .editor {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 1px solid black;
    transition: all 0.1s ease;
    z-index: -1;
    visibility: hidden;
  }

  #publisher .editor > table {
    border: none;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
  }

  #publisher .editor .tagtext {
    padding: 10px;
  }

  #publisher .editor .tagtext textarea {
    resize: none;
    background: none;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    border: none;
    line-height: 1.3em;
    margin: 0;
    display: block;
  }

  #publisher .editor .footbuttons {
    background: none;
    padding: 5px;
  }

  #publisher .editor .footbuttons .button {
    width: 45%;
    border-radius: 0;
    margin: 5px;
  }

  #publisher-show:checked ~ #publisher {
    visibility: visible;
    opacity: 1;
    top: 90px;
    /* transform: scale(1); */
  }


  #brandtag-show:checked ~ #publisher .brandtag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #brandtag-show:checked ~ #publisher .brandtag img {
    width: var(--tagger-imgsize);
  }

  #brandtag-show:checked ~ #publisher .itemselector {
    visibility: visible;
    top: var(--tagger-imgsize);
  }

  #brandtag-show:checked ~ #publisher input.prompt {
    visibility: hidden;
  }

  #brandtag-show:checked ~ #publisher .select-item-placeholder {
    visibility: visible;
  }


  #itemtag-show:checked ~ #publisher .itemtag {
    width: var(--tagger-imgsize);
    border-right: 1px solid black;
  }

  #itemtag-show:checked ~ #publisher .itemtag img {
    width: 25px;
  }

  #itemtag-show:checked ~ #publisher .itemselector {
    visibility: hidden;
    top: 0;
  }

  #itemtag-show:checked ~ #publisher .plus {
    display: none;
  }

  #itemtag-show:checked ~ #publisher .select-item-placeholder {
    visibility: hidden;
  }

  #itemtag-show:checked ~ #publisher .editor {
    visibility: visible !important;
    top: 40px !important;
  }

  .results {
    margin-top: 0 !important;
    border-radius: 0 !important;
    border-top: 0px solid transparent !important;
    border-left: 1px solid black !important;
    border-right: 1px solid black !important;
    border-bottom: 1px solid black !important;
    box-shadow: none !important;
  }

  .result {
    padding: 10px !important;
    border-radius: 0 !important;
    background: none !important;
    border-bottom: 1px solid black !important;
    height: 80px !important;
  }

  .result > .image {
    height: 60px !important;
    width: 60px !important;
    border-radius: 0 !important;
  }

  .result > .image > img {
    object-fit: contain !important;
    height: 60px !important;
    width: 60px !important;
  }
</style>


{% load static %}
<input id="publisher-show" type="checkbox">
<input id="brandtag-show" type="checkbox">
<input id="itemtag-show" type="checkbox">

<div id='publisher' on_id='{{ch.pk}}'>
  <div class="ui fluid search">
    <div class="ui fluid transparent input">

      <table class='tagbox ui unstackable very compact basic table'>
        <tbody>
          <tr>
            <td class='brandtag'>
              <img/>
            </td>

            <td class='itemtag'>
              <img/>
            </td>

            <td class='plus iconbutton'>
              <img src="{% static 'materials/icons8-plus-100.png' %}" />
            </td>

            <td>
              <input class="prompt" type="text" placeholder="BRAND" oninput="">
              <div class='select-item-placeholder'>ITEM</div>
            </td>

            <td class='undo iconbutton'>
              <img src="{% static 'materials/icons8-left-100.png' %}" />
            </td>
          </tr>
        </tbody>
      </table>


      <table class='itemselector ui eight column unstackable very compact basic table'>
        <tbody>
          <tr>
            {% for item in items %}
            <!-- {# {% with "https://storage.googleapis.com/getch-storage/"|add:item.avatar__src as item_avatar %} #} -->
            <td class='iconbutton' onclick='set_item({{item.pk}}, "{{item.avatar.src.url}}")'><img src='{{item.avatar.src.url}}' /></td>
            <!-- <td class='iconbutton' onclick='set_item({{item.pk}}, "{{item_avatar}}")'><img src='{{item_avatar}}' /></td> -->
            <!-- {# {% endwith %} #} -->
            {% endfor %}
          </tr>
        </tbody>
      </table>



      <form class="editor ui form" method="post" enctype="multipart/form-data">
        <!-- <input type='hidden' value='' name='x'>
        <input type='hidden' value='' name='y'>
        <input type='hidden' value='' name='brand_id'>
        <input type='hidden' value='' name='item_id'>
        <input type='hidden' value='{{ch.pk}}' name='on_id'> -->

        <table class='ui unstackable very compact basic table'>
          <tbody>
            <tr>
              <td class='profiletag'>
                <img src="{{ user.avatar.src.url }}"/>
              </td>

              <td class='rating'>
                <img src="{% static 'materials/icons8-star-96.png' %}">
                <img src="{% static 'materials/icons8-star-96.png' %}">
                <img src="{% static 'materials/icons8-star-96.png' %}">
                <img src="{% static 'materials/icons8-star-96.png' %}">
                <img src="{% static 'materials/icons8-star-96.png' %}">
              </td>

              <td class='iconbutton'>
                <label for='imageuploader0'>
                  <img src="{% static 'materials/icons8-unsplash-96.png' %}">
                </label>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="tagimage field" style='margin:0;'>
          <input type="file" name="image" accept="image/*" style="display:none;" id="imageuploader0" onchange="load_img(this)">
          <div style="margin-top:0;display:none;">
            <img alt="image loaded" style="width:100%;height:auto;display:block;" />
          </div>
        </div>

        <div class="tagtext field">
          <textarea name="text" cols="40" rows="10" maxlength="500" placeholder="COMMENT HERE"></textarea>
        </div>

        <div class='footbuttons'>
          <div class="cancel ui basic black mini button">CANCEL</div>
          <div class="save ui black mini button" onclick='tag_save(this)'>SAVE</div>
        </div>
      </form>

    </div>

    <div class="results"></div>
  </div>
</div>
