<style>
  #tags .tag {
    position: absolute;
  }

  #tags .tag-xy {
    box-sizing: content-box;
    position:absolute;
    width:4px;
    height:4px;
    background:white;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 7px rgba(0,0,0,0.3);
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
    z-index: 10;
  }

  #tags .tag-body {
    position: absolute;
    background: white;
    border-radius: 0;
    border-style: hidden;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0;
    transform: translate(-42px, -60px) scale(0);
    visibility: collapse;
    transition: all 0.1s ease;
    z-index: 10;
  }

  #tags .tag-body:hover {
    box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
    z-index: 11;
  }

  #tags .tag-body:hover ~ .tag-xy {
    box-shadow: 0px 0px 0px 5px rgba(22,187,204,0.5);
    z-index: 11;
  }

  #tags td {
    border: 1px solid black;
    padding: 0;
    height: var(--tagger-imgsize);
    width: var(--tagger-imgsize) !important;
    transition: all 0.1s ease;
  }

  #tags td img {
    object-fit: contain;
    background: none;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.1s ease;
  }

  #tags td:first-child img {
    width: var(--tagger-imgsize);
    height: var(--tagger-imgsize);
  }

  #tags td:last-child img {
    width: var(--tagger-imgsize); /* 총 width는 td 에서 박아줄라고 했는데, 그게 안되네? */
    /* width: 25px;  */
    height: 25px;
  }

  #tags-show:checked ~ #tags .tag-body {
    visibility: visible;
    transform: translate(-42px, -60px) scale(1);
  }
</style>


{% load static %}
<input id="tags-show" type="checkbox">
<div id='tags'>
  {% for tagch in ch.on_tags %}
  <div class='{% if tagch.pk == saved %}selected {% endif %}tag' style='left:{{tagch.tag.x}}%;top:{{tagch.tag.y}}%;'>
  <!-- <div class='tag' style='left:{{tagch.tag.x}}%;top:{{tagch.tag.y}}%;'>   -->
    <table class='tag-body ui unstackable table' onclick='load_tagfeeds({{tagch.pk}})'>
      <tbody>
        <tr>
          <td><img src="{{tagch.tag.with_brand.avatar.src.url}}"/></td>
          <td><img src="{{tagch.tag.with_item.avatar.src.url}}"/></td>
        </tr>
      </tbody>
    </table>
    <div class='tag-xy'></div>
  </div>
  {% endfor %}
</div>
